<!-- table.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mi's Table</title>
    <link href="//fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//djangogirlstaipei.github.io/assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <h1 class="site-title text-center">
            <a href="/">Mi's Table</a>
        </h1>
    </div>
    <div class="container">
        {% for table in table_list %}
        <div class="post-wrapper">
            <div class="post">
                <div class="post-heading">
                    <h2 class="title">
                        <a href="{% url 'table_detail' id=table.id %}">{{ table.meal }}</a>
                    </h2>
                    <div class="date">{{ table.created_at|date:"Y / m / d" }}</div>
                </div>
                {% if table.photo %}
                <div class="thumbnail">
                    <img src="{{ table.photo }}" alt="">
                </div>
                {% else %}
                <div class="thumbnail thumbnail-default"></div>
                {% endif %}
                <div class="post-content read-more-block">
                    {{ table.chef }}
                    {{ table.recipes }}
                </div>
                <div class="post-footer">
                    <a class="read-more" href="{% url 'table_detail' id=table.id %}">
                        Taste More <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>